@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  transition: 0.2s all linear;
}
.app-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(102, 104, 179);
}
.app-home h1 {
  font-size: 40px;
  font-weight: 500;
}
.app-home .bg-home .play-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(36, 207, 36);
  color: #fff;
}
.app-home .bg-home .play-btn:hover {
  background-color: #fff;
  color: #000;
}
/* questions component css */
.quiz-section {
  background-color: #fff;
  height: max-content;
  width: 80%;
  padding: 30px 65px;
}
.quiz-section .title {
  text-align: center;
}
.question {
  text-align: center;
  margin: 21px 0px;
}
.quiz-section .options {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.quiz-section .options .option-btn {
  display: inline-block;
  width: 100%;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(102, 104, 179);
  color: #fff;
  margin: 10px 10px;
}
.quiz-section .options .option-btn:hover {
  background-color: rgb(49, 55, 221);
}

.navigate-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.navigate-btn .btn {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin: 15px 10px;
  padding: 10px 20px;
}
.navigate-btn .navigate-prev {
  background-color: rgb(21, 60, 189);
  border: 1px solid rgb(21, 60, 189);
}
.navigate-btn .navigate-prev:hover {
  background: transparent;
  color: #000;
}
.navigate-btn .navigate-next {
  background-color: rgb(36, 207, 36);
  border: 1px solid rgb(36, 207, 36);
}
.navigate-btn .navigate-next:hover {
  background: transparent;
  color: #000;
}
.navigate-btn .navigate-quit {
  background-color: red;
  border: 1px solid red;
}
.navigate-btn .navigate-quit:hover {
  background: transparent;
  color: #000;
}

/* result component css */

.result-section {
  background-color: #fff;
  height: max-content;
  width: 50%;
  padding: 30px 35px;
}
.result-section .result-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.result-score {
  text-align: center;
  margin: 15px 0px;
}
.result-score.pass {
  color: rgb(36, 207, 36);
}
.result-score.fail {
  color: red;
}
.result-section .test-details {
  margin-top: 20px;
}
.result-section .score-card {
  display: flex;
  justify-content: space-between;
  margin: 14px 0px;
}
.result-section .score-card p {
  font-size: 14px;
}
.app-home.result-page {
  flex-direction: column;
}
.result-page {
  display: flex;
  justify-content: center;
}
.result-page .result-btn .btn {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 15px 10px;
  padding: 10px;
}
.result-page .result-btn .play-again {
  background-color: rgb(8, 46, 61);
  color: #fff;
  border: 1px solid rgb(8, 46, 61);
}
.result-page .result-btn .play-again:hover {
  background: transparent;
}

.result-page .result-btn .back-to-home {
  background-color: rgb(36, 207, 36);
  color: #fff;
  border: 1px solid rgb(36, 207, 36);
}
.result-page .result-btn .back-to-home:hover {
  background-color: transparent;
}
/*media queries  */

@media (max-width: 992px) {
  .quiz-section {
    margin: 30px;
    height: 100%;
  }
  .app-home {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .quiz-section {
    padding: 20px 35px;
  }
  .app-home h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .quiz-section .options .option-btn {
    width: 70%;
  }
}
